<!-- app.component.html -->
<div class="background-image">
  <div class="content-overlay">
    <!-- Your app content goes here -->
    <h1>Tadiwanashe Vurumu</h1>
    <h2>Frontend Developer</h2>
    <h3>Welcome to My Portfolio</h3>
  </div>
  <div class="content-overlay2">
    <h3>About Me</h3>
    <img src="../assets/Profile.jpg" alt="Profile" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
    <h3>Hi, I'm Tadiwanashe Vurumu</h3>
    <p>I'm a passionate and experienced full-stack developer with a strong background in web technologies. For the past 5 years, I've been creating innovative and user-friendly web applications for a variety of clients.</p>
    <p>My expertise spans the entire software development lifecycle, from ideation and design to implementation and deployment. I'm proficient in languages and frameworks such as JavaScript, React, Node.js, and Ruby on Rails, and I'm always eager to learn new technologies to stay ahead of the curve.</p>
    <p>When I'm not coding, you can find me exploring the great outdoors, reading the latest tech blogs, or tinkering with new gadgets. I'm a firm believer in the power of technology to solve complex problems and improve people's lives, and I'm excited to apply my skills to help your business succeed.</p>
  </div>
</div>
