<footer>
    <nav class="footer-nav">
      <div class="footer-nav-container">
        <a href="#" class="footer-nav-logo">
          <h3>Tadiwanashe Vurumu</h3>
          <p>Frontend Developer</p>
        </a>
        <ul class="footer-nav-links">
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="footer-nav-social">
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="#" target="_blank"><i class="fab fa-github"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </nav>
    <div class="footer-bottom">
      <p>&copy; 2024 Alex Smith. All rights reserved.</p>
    </div>
  </footer>